:root{
--cor_botao_clicado:rgb(84, 84, 122);
--cor_botao_n_clic:rgb(28, 28, 58);
--cor_fundo:rgb(117, 0, 55);
--cor_titulo:rgb(67, 67, 85);


}
body{
    background-color:var(--cor_fundo);



}
h1{
    color:var(--cor_titulo);

}
.principal{
    border: solid rgb(216, 152, 191) 2px;
    text-align: center;
    height: 500px;
   


}
h3{
    font-size: 20px;
     background-color:palevioletred;
     border-radius: 180px;
     justify-content: center;
     align-items: center;
     display: flex;
     flex-wrap: wrap;
}